* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body>header {
    background-color: #cecbf7;
    padding: 16px 8px;
    font-family: Arial, Helvetica, sans-serif;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #0e0872;
}

header li {
    display: inline;
    margin: 7px;
    font-family: Arial, Helvetica, sans-serif;
}

header li:hover {
    text-decoration: underline;
}

header li a {
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: #0e0872;
    font-weight: 750;
}

.container {
    width: 1366px;
    margin: 0 auto;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.articles article img {
    height: 250px;
    width: 100%;
}

.articles article {
    width: 30%;
}

section {
    padding: 16px 0;
    background-color: #f5f5f5;
}

section h2,
.articles article {
    margin-bottom: 10px;
}


.articles article h3 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.articles article a {
    padding: 5px;
    display: inline-block;
    text-decoration: none;
    font-weight: 550;
    margin-top: 8px;
}

.articles article a:hover {
    text-decoration: underline;
}

.articles article p,
.articles article a {
    font-family: Arial, Helvetica, sans-serif;
}

.articles article h3 {
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

section h2 {
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #0e0872;
}


#Sports h2,
#Sports h3 {
    color: orangered;
}

#Sports {
    background-color: rgba(248, 193, 169, 0.827);
}

#Sports article a {
    background-color: rgb(237, 131, 93);
    color: rgb(255, 0, 0);
}

#Economy h2,
#Economy h3 {
    color: #024a00;
}

#Economy {
    background-color: #cdf8cc;
}

#Economy article a {
    background-color: #7cf677;
    color: #024a00;
}

#Fato-ou-Fake h2,
#Fato-ou-Fake h3 {
    color: red;
}

#Fato-ou-Fake {
    background-color: rgba(246, 199, 232, 0.793);
}

#Fato-ou-Fake article a {
    background-color: pink;
    color: palevioletred;
}

#Ciencia-e-tecnologia h2,
#Ciencia-e-tecnologia h3 {
    color: midnightblue;
}

#Ciencia-e-tecnologia {
    background-color: rgba(171, 171, 246, 0.811);
}

#Ciencia-e-tecnologia article a {
    background-color: rgb(188, 163, 246);
    color: purple;
}

#Mundo h2,
#Mundo h3 {
    color: #ed9121;
}

#Mundo {
    background-color: #f8ddbc;
}

#Mundo article a {
    background-color:#e3a75e ;
    color: #ff6600;
}

.creation-date {
    color: #8a8686c7;
}